.custom-link {
	color: cyan;	
	text-decoration: none;
	}

.custom-link:hover {
	color: lightsteelblue;
	text-decoration: underline;
}

.navbar-nav .nav-link:hover {
	text-decoration: underline;
	text-decoration-style: dashed;
}

h2 {
	text-decoration: underline;
	text-decoration-style: dotted;
}

.even-header {
	text-align: end;
}

#end-paragraph {
	background-color: black;
	color: gray;
	size: 6px;


}
h3 {
	text-align: center;
	padding: 5px;
}

